<div class="card">
	<div class="card-header">
		<h4 class="card-title mb-0">Text Inputs</h4>
	</div>
	<div class="card-body">
		<div class="px-3">
			<form class="form">
				<div class="form-body">
					<div class="row">
						<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
							<fieldset class="form-group">
								<label for="basicInput">Basic Input</label> <input type="text"
									class="form-control" id="basicInput">
							</fieldset>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
							<fieldset class="form-group">
								<label for="helpInputTop">Input text with help</label> <small
									class="text-muted">eg.<i>someone@example.com</i></small> <input
									type="text" class="form-control" id="helpInputTop">
							</fieldset>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
							<fieldset class="form-group">
								<label for="disabledInput">Disabled Input</label> <input
									type="text" class="form-control" id="disabledInput" disabled>
							</fieldset>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
							<fieldset class="form-group">
								<label for="disabledInput">Readonly Input</label> <input
									type="text" class="form-control" id="readonlyInput"
									readonly="readonly" value="You can't update me :P">
							</fieldset>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
							<fieldset class="form-group">
								<label for="disabledInput">Input with Placeholder</label> <input
									type="email" class="form-control" id="placeholderInput"
									placeholder="Enter Email Address">
							</fieldset>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
							<fieldset class="form-group">
								<label for="disabledInput">Static Text</label>
								<p class="form-control-static" id="staticInput">email@pixinvent.com</p>
							</fieldset>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
							<fieldset class="form-group">
								<label for="roundText">Rounded Input</label> <input type="text"
									id="roundText" class="form-control round"
									placeholder="Rounded Input">
							</fieldset>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
							<fieldset class="form-group">
								<label for="squareText">Square Input</label> <input type="text"
									id="squareText" class="form-control square"
									placeholder="square Input">
							</fieldset>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
							<fieldset class="form-group">
								<label for="helperText">With Helper Text</label> <input
									type="text" id="helperText" class="form-control"
									placeholder="Name">
								<p>
									<small class="text-muted">Find helper text here for
										given textbox.</small>
								</p>
							</fieldset>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>