.button-trans {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:red;
}

.tab-head {
  	font-weight: bold;
  	font-size: 15;
}