<div class="card">
	<div class="card-header">
		<h4 class="card-title mb-0">saisie budget</h4>
	</div>
	<div class="card-body">
		<div class="px-3">
			<form class="form">
				<div class="form-body">
					<div class="row">
						<div class="row col-xl-4 col-lg-6 col-md-12 mb-1">
						
							<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
								<fieldset class="form-group">
									<label for="basicInput">Code</label> <input type="number" class="form-control">
								</fieldset>
							</div>
							<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
								<fieldset class="form-group">
									<label for="helpInputTop">Libellé</label>
									<input type="text" class="form-control" id="helpInputTop">
								</fieldset>
							</div>
							<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
								<fieldset class="form-group">
									<label for="disabledInput">Montant</label> <input type="number" class="form-control">
								</fieldset>
							</div>
							<div class="col-xl-12 col-lg-12 col-md-12 mb-1 text-right">
									<fieldset class="form-group">
											<button type="button"  class="btn btn-success btn-raised">Ajouter</button>
									</fieldset>
								</div>
						</div>
						<div class="col-xl-8 col-lg-8 col-md-12 mb-1">
							<table class="table">
								<thead class="thead-default">
									<tr>
										<th>code</th>
										<th>Libellé</th>
										<th>Nature</th>
										<th>Montant</th>
									</tr>
								</thead>
								<tbody>
									<tr>

										<td>rien</td>
										<td>nada</td>
										<td>rien</td>
										<td>nada</td>

									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>