<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Saisie budget</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<form>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="name">Nom</label> <input type="text"
										class="form-control" id="name" name="name"
										[(ngModel)]="budget.name" [disabled]="disableName">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="exercice">Exercice</label> <input type="text"
										class="form-control" id="exercice" name="exercice"
										[(ngModel)]="exercice.year" disabled>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="plan">Plan</label> <input type="text"
										class="form-control" id="plan" name="plan"
										[(ngModel)]="plan.value" disabled>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Saisie ligne</h4>
					</div>
					<div class="card-body">
						<div class="card-block">
							<form>
								<div class="col-md-11">
									<div class="form-group">
										<label for="lbCode">Code</label> <select name="lbCode"
											class="form-control" (change)="updateLineData()"
											[(ngModel)]="selectedLine">
											<option *ngFor="let line of planLines" [ngValue]="line">{{line.code}}</option>
										</select>
									</div>
								</div>
								<div class="col-md-11">
									<div class="form-group">
										<label for="lbAmount">Montant ({{money.value}})</label> <input
											type="number" class="form-control" id="lbAmount"
											name="lbAmount" step="0.001" [(ngModel)]="budgetLine.amount">
									</div>
								</div>
								<div class="col-md-11">
									<div class="form-group">
										<label for="lbLabel">Libellé</label> <input type="text"
											class="form-control" id="lbLabel" name="lbLabel"
											[(ngModel)]="budgetLine.label" disabled>
									</div>
								</div>
								<div class="col-md-11">
									<div class="form-group">
										<label for="lbNature">Nature</label> <input type="text"
											class="form-control" id="lbNature" name="lbNature"
											[(ngModel)]="budgetLine.nature" disabled>
									</div>
								</div>
								<div class="form-group col-md-9">
									<button type="button"
										class="btn btn-success btn-raised col-lg-4"
										(click)="addBugetLine()">Ajouter</button>
									<button type="button"
										class="btn btn-primary btn-raised col-lg-5"
										(click)="saveBudget()">Enregistrer</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title fonticon-classname">équilibre
							budgétaire</h4>
					</div>
					<div class="card-body">
						<div class="card-block">

							<div class="card-text col-md-11">
								<p class="card-text">
									<span class="badge float-right"
										[style.background]="balance.bal_color">{{balance.total}}</span>
									{{budget.name}}
								</p>
							</div>
							<hr/>

							<div matchHeight="card">
								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<div class="card-block">
												<h4 class="card-title">Fonctionnement ({{money.value}})</h4>
											</div>
											<ul class="list-group">
												<li class="list-group-item"><span
													class="badge float-right"
													[style.background]="balance.fonc_color">{{balance.rec_fonc}}</span>
													Recettes</li>
												<li class="list-group-item"><span
													class="badge float-right"
													[style.background]="balance.fonc_color">{{balance.dep_fonc}}</span>
													Dépenses</li>
											</ul>
										</div>
									</div>

									<div class="card">
										<div class="card-body">
											<div class="card-block">
												<h4 class="card-title">Investissement ({{money.value}})</h4>
											</div>
											<ul class="list-group">
												<li class="list-group-item"><span
													class="badge float-right"
													[style.background]="balance.inv_color">{{balance.rec_inv}}</span>
													Recettes</li>
												<li class="list-group-item"><span
													class="badge float-right"
													[style.background]="balance.inv_color">{{balance.dep_inv}}</span>
													Dépenses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Lignes budgétaires</h4>
			</div>
			<div class="card-body">
				<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
					<input type='text'
						style='padding: 8px; margin: 15px auto; width: 30%;'
						placeholder='filtrez sur le code...'
						(keyup)='updateFilter($event)' />
					<ngx-datatable #table class='bootstrap table'
						[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
						[rowHeight]="'auto'" [limit]="10" [rows]='rows'> <ngx-datatable-column
						class="tab-head" prop="code"></ngx-datatable-column> <ngx-datatable-column
						class="tab-head" prop="label" name="Libellé"></ngx-datatable-column>
					<ngx-datatable-column class="tab-head" prop="nature"></ngx-datatable-column>
					<ngx-datatable-column class="tab-head" prop="amount" name="Montant"></ngx-datatable-column>
					<ngx-datatable-column class="tab-head" name="id"
						[resizeable]="false"> <ng-template
						ngx-datatable-header-template> Action </ng-template> <ng-template
						let-row="row" ngx-datatable-cell-template>
					<button class="btn button-trans" (click)="delete(row)">
						<i class="fa fa-trash"></i>
					</button>
					</ng-template> </ngx-datatable-column> </ngx-datatable>
				</div>
			</div>
		</div>
	</div>
</div>