<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Plan Budgétaire Actif</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<form>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Plan Budgétaire Sélectionné :</label> <b><i>{{selectedPlan.value}}</i></b>
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<label>Sélectionnez un plan :</label> <select name="planBudget"
										class="form-control" (change)="display()"
										[(ngModel)]="selectedPlan.value">
										<option></option>
										<option *ngFor="let pl of plans" [value]="pl.name">{{pl.name}}</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<br />
								<div class="form-group">
									<button type="button" class="btn btn-success btn-raised"
										(click)="updateSelectedPlan()">Appliquer</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Monnaie de Référence</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<form>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Monnaie de Référence Sélectionnée :</label> <b><i>{{selectedMoney.value}}</i></b>
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<label>Définissez une Monnaie :</label>
									<input name="moneyRef" type="text" class="form-control" [(ngModel)]="selectedMoney.value">
								</div>
							</div>
							<div class="col-md-3">
								<br />
								<div class="form-group">
									<button type="button" class="btn btn-success btn-raised"
										(click)="updateSelectedMoney()">Appliquer</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Monnaie de Rapport</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="row">
						<label>Conversion : </label>
						<b><label>1 {{selectedMoney.value}} = </label>
						<label>{{reportMoneyRate.value}} {{reportMoney.value}}</label></b>
					</div>
					<form>
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
									<label>Définissez une Monnaie :</label>
									<input name="reportMoney" type="text" class="form-control" [(ngModel)]="reportMoney.value">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Taux / {{selectedMoney.value}} :</label>
									<input name="reportMoneyRate" type="number" step="0.001" class="form-control" [(ngModel)]="reportMoneyRate.value">
								</div>
							</div>
							<div class="col-md-3">
								<br />
								<div class="form-group">
									<button type="button" class="btn btn-success btn-raised"
										(click)="updateReportMoney()">Appliquer</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
