<div class="row ">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body" *ngIf="form===''">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-12">
                        <ul class="list-group">
                            <li *ngFor="let plan of plans" class="list-group-item" (click)="planLink(plan)">{{plan.name}}</li>

                        </ul>
                        <button type="button" class="btn btn-success btn-raised col-lg-12" (click)="addPlan() ">Nouveau
                            Plan</button>
                    </div>
                    <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12 text-right">
                        <b class="text-left">{{planForm.name}}</b>
                        <button type="button" class="btn btn-success btn-raised col-lg-2 " (click)="updatePlan() ">M-à-J</button>
                        <table class="table text-center" *ngIf="levels.length>0">
                            <thead class="thead-default">
                                <tr>
                                    <th *ngFor="let level of levels">{{level.name}}</th>
                                    <!-- <th>code</th> -->
                                    <th>Libellé</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let l of lines">
                                    <ng-container *ngFor="let level of levels">
                                        <td *ngIf="l.levelName===level.name">{{l.code}}</td>
                                        <td *ngIf="l.levelName!==level.name"></td>
                                    </ng-container>
                                    <!-- <td>{{l.code}}</td> -->
                                    <td>{{l.label}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="card-body " *ngIf="form==='un'">
                <div class="card-block">
                    <div class="col-sm-12">

                        <div class="content-header">Nouveau plan</div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="nom">Nom</label>

                                <input type="text" class="form-control" name="namePlan" [(ngModel)]="planForm.name">
                                <!-- <small class="form-text text-muted danger">Please enter a valid email!</small> -->
                            </div>

                        </div>

                    </form>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="content-header">Structuration du nouveau plan</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 col-lg 6 col-md-6">
                            <form novalidate>
                                <div class="form-group">
                                    <label for="nom">Nom de la structure</label>

                                    <input type="text" class="form-control" name="nameStr" placeholder="nom structure"
                                        [(ngModel)]="structName">
                                    <!-- <small class="form-text text-muted danger">Please enter a valid email!</small> -->
                                </div>
                                <div class="form-group">
                                    <label for="nom">Niveau</label>

                                    <input type="text" class="form-control" name="niveau" placeholder="nom du l'element"
                                        [(ngModel)]="levelForm.name">
                                    <!-- <small class="form-text text-muted danger">Please enter a valid email!</small> -->
                                </div>
                                <div class="form-group">
                                    <label for="nom">Taille du code</label>

                                    <input type="number" class="form-control" name="codeLength" placeholder="nombre de chiffre du code"
                                        [(ngModel)]="levelForm.codeLength">
                                    <!-- <small class="form-text text-muted danger">Please enter a valid email!</small> -->
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-success btn-raised" (click)="addLevel()">Ajouter</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6 col-lg 6 col-md-6">
                            <div class="content-header">Structuration</div>
                            <label>Nom: {{structName}}</label><br>
                            <label>Niveaux: </label>
                            <ol>
                                <li *ngFor="let level of levels">{{level.name}}&nbsp;&nbsp;({{level.codeLength}})</li>
                            </ol>

                        </div>

                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-danger btn-raised" (click)="form='un'">Precedent</button>
                        <button type="button" class="btn btn-success btn-raised" (click)="page2()">Suivant</button>
                    </div>
                </div>
            </div>


            <div class="card-body " *ngIf="form==='trois'">
                <div class="card-block">

                    <form>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6">

                                <div class="form-group" *ngIf="levelsForm.length>0">
                                    <label for="levelName">Niveau</label>
                                    <select name="levelName" class="form-control" (change)="getParent()" [(ngModel)]="lineForm.levelName">
                                        <option *ngFor="let level of levelsForm" [value]="level.name">{{level.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="previous">Parent</label>
                                    <select name="previous" class="form-control" [disabled]="hasParent" (change)="calculateCode()" [(ngModel)]="lineForm.previous">
                                        <option *ngFor="let line of parent" [ngValue]="line">{{line.label}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="code">Code</label>
                                    <input name="code" type="text" class="form-control" [(ngModel)]="lineForm.code">
                                    <!-- <small class="form-text text-muted danger">Please enter a valid email!</small> -->
                                </div>
                                <div class="form-group">
                                    <label for="label">Libellé</label>

                                    <input type="text" name="label" placeholder="Veillez saisir le titre" class="form-control"
                                        [(ngModel)]="lineForm.label">
                                    <!-- <small class="form-text text-muted danger">Please enter a valid email!</small> -->
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="code">Nature</label>
                                    <select name="nature" class="form-control" [(ngModel)]="lineForm.nature">
                                        <option value="RECETTE_INVESTISSEMENT">Recette d'investissement</option>
                                        <option value="RECETTE_FONCTIONNEMENT">Recette de fonctionnement</option>
                                        <option value="DEPENSE_INVESTISSEMENT">Dépense d'investissement</option>
                                        <option value="DEPENSE_FONCTIONNEMENT">Dépense de fonctionnement</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-success btn-raised" (click)="addLine()">Ajouter</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="form-group text-right">
                    <button type="button" *ngIf="isCreate" class="btn btn-danger btn-raised" (click)="form='un'">Precedent</button>
                    <button type="button" *ngIf="!isCreate" class="btn btn-danger btn-raised" (click)="form=''">Annuler</button>
                    <button type="button" (click)="savePlan()" class="btn btn-success btn-raised">Terminer</button>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <table class="table">
                        <thead class="thead-default">
                            <tr>
                                <th *ngFor="let level of levels">{{level.name}}</th>
                                <!-- <th>code</th> -->
                                <th>Libellé</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let l of lines">
                                <ng-container *ngFor="let level of levels">
                                    <td *ngIf="l.levelName===level.name">{{l.code}}</td>
                                    <td *ngIf="l.levelName!==level.name"></td>
                                </ng-container>
                                <!-- <td>{{l.code}}</td> -->
                                <td>{{l.label}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-body " *ngIf="form==='deux'">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <li *ngFor="let plan of plans" (click)="fixPlan(plan)">{{plan.name}}</li>

                        </div>
                        <div class="col-md-8 col-sm-8 col-lg-8">
                            <table class="table">
                                <thead class="thead-default">
                                    <tr>
                                        <th *ngFor="let level of levels">{{level.name}}</th>
                                        <!-- <th>code</th> -->
                                        <th>Libellé</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let l of lines">
                                        <ng-container *ngFor="let level of levels">
                                            <td *ngIf="l.levelName===level.name">{{l.code}}</td>
                                            <td *ngIf="l.levelName!==level.name"></td>
                                        </ng-container>
                                        <!-- <td>{{l.code}}</td> -->
                                        <td>{{l.label}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>