<!-- Basic form layout section start -->
<section id="horizontal-form-layouts">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Ajouter un Niveau</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="px-3">
						<form class="form form-horizontal">
							<div class="form-body">
								<h4 class="form-section"><i class="ft-user"></i> Remplir tous les champs</h4>
								<div class="form-group row">
									<label class="col-md-3 label-control" for="code">Code: </label>
									<div class="col-md-9">
										<input type="text"  class="form-control" name="fname" [(ngModel)]="levelForm.code">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-md-3 label-control" for="nom">Nom: </label>
									<div class="col-md-9">
										<input type="text"  class="form-control" name="libelle" [(ngModel)]="levelForm.libelle">
									</div>
								</div>

								<div class="form-group row">
									<label class="col-md-3 label-control" for="typeNiveau">Type de niveau: </label>
									<div class="col-md-9">
										<input type="text"  class="form-control" name="typeNiveau" [(ngModel)]="levelForm.typeNiveau">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-md-3 label-control" for="parent">Parent: </label>
									<div class="col-md-9">
										<select name="interested" class="form-control" [(ngModel)]="levelForm.parent">
											<option *ngFor="let level of levels" [ngValue]="level">{{level.code}}-{{level.libelle}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<button type="button" class="btn btn-raised btn-danger mr-1">
									<i class="ft-x"></i> Annuler
								</button>
								<button type="button" class="btn btn-raised btn-info">
									<i class="fa fa-check-square-o"></i> Enregistrer
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Les différents types de niveau</h4>                   
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Nom</th>
									<th>Type de Niveau</th>
									<th>Parent</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
									<td>the Bird</td>
									<td>the Bird</td>
                                    <td>
                                        <a class="success p-0" data-original-title="" title="MPodifier">
                                            <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                        </a>
                                        <a class="danger p-0" data-original-title="" title="Supprimer">
                                            <i class="ft-x font-medium-3 mr-2"></i>
                                        </a>
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Basic form layout section end -->