<!-- Basic form layout section start -->
<section id="horizontal-form-layouts">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Structuration </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="px-3">
						<form class="form form-horizontal">
							<div class="form-body">
								<div class="card-block">
									<div class="d-flex flex-wrap justify-content-md-between mb-3 no-gutters">
										<div class="col ">
											<div class="btn-group d-none d-sm-none d-md-none d-lg-block">
												<a class="btn btn-raised btn-primary" (click)="view = 'compta'" [class.active]="view === 'compta'">
													Comptabilité générale
												</a>
												<a class="btn btn-raised btn-primary" (click)="view = 'bud'" [class.active]="view === 'bud'">
													Budget
												</a>
												<a class="btn btn-raised btn-primary" (click)="view = 'ana'" [class.active]="view === 'ana'">
													Comptabilité analytique
												</a>
											</div>
											<div class="btn-group d-block d-sm-block d-md-block d-lg-none">
												<a class="btn btn-raised btn-primary btn-icon-icon" (click)="view = 'compta'" [class.active]="view === 'compta'">
													<i class="fa fa-th"></i>
												</a>
												<a class="btn btn-raised btn-primary btn-icon-icon" (click)="view = 'bud'" [class.active]="view === 'bud'">
													<i class="fa fa-columns"></i>
												</a>
												<a class="btn btn-raised btn-primary btn-icon-icon" (click)="view = 'ana'" [class.active]="view === 'ana'">
													<i class="fa fa-th-list"></i>
												</a>
											</div>


										</div>

									</div>

								</div>

								<div *ngIf="view ==='compta'">
									<h4 class="form-section"><i class="ft-user"></i> Structuration de la comptabilité générale</h4>
									<div class="form-group row">
										<label class="col-md-3 label-control" for="name">Nom: </label>
										<div class="col-md-9">
											<input type="text" class="form-control" name="name" [(ngModel)]="levelForm.name">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-md-3 label-control" for="nom">Profondeur: </label>
										<div class="col-md-9">
											<input type="number" class="form-control" name="depht" [(ngModel)]="levelForm.depht">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-md-3 label-control" for="planType">Type de plan: </label>
										
									</div>
									<div class="form-actions">
										<button type="button" class="btn btn-raised btn-danger mr-1">
											<i class="ft-x"></i> Annuler
										</button>
										<button type="button" class="btn btn-raised btn-info">
											<i class="fa fa-check-square-o"></i> Enregistrer
										</button>
									</div>
								</div>

							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- // Basic form layout section end -->