<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Nouvelle Exercice</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<form>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="year">Année</label> <input type="number"
										class="form-control" id="year" name="year"
										[(ngModel)]="exercice.year">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="start">Date de Début</label> <input type="date"
										class="form-control" id="start" name="start"
										[(ngModel)]="exercice.start">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="end">Date de Fin</label> <input type="date"
										class="form-control" id="end" name="end"
										[(ngModel)]="exercice.end">
								</div>
							</div>
							<div class="col-md-3">
								<br />
								<button type="button"
									class="btn btn-success btn-raised col-lg-5"
									(click)="addExercice()">Ajouter</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Exercices</h4>
			</div>
			<div class="card-body">
				<div class="col-xl-8 col-lg-8 col-md-12 mb-1">
					<table class="table">
						<thead class="thead-default">
							<tr>
								<th>Année</th>
								<th>Date de Début</th>
								<th>Date de Fin</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let exo of exercices">
								<td>{{exo.year}}</td>
								<td>{{exo.start | date:'dd/MM/yyyy'}}</td>
								<td>{{exo.end | date:'dd/MM/yyyy'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>